
@{
    ViewBag.Title = "Main";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/customScript.js"></script>
<link href="~/Style/StyleSheet.css" rel="stylesheet" />
<h2>Main</h2>
<a id="getPeople" href="#">Users</a><a id="getSection" href="#">Section</a>
<div id="btn"></div>
<table id="Table">
    </table>
